      body{
        margin-top : 5%;
        margin-left : auto;
        margin-right:auto;
        width:401px;
        box-shadow:1.2px 1px 0px 1.2px black;
      }
      #box{
        width:400px;
        height:600px;
        box-shadow:1.2px 1px 0px 1.2px black;
      }
      #sign{
        width:375px;
        height:25px;
        padding:12px;
        text-align:center;
        background-color:rgb(26, 186, 197);
        color:white;
        font-size:20px;
      }
      #cap{
        float:left;
      } 
      #cross{
        float:right;
      }
      #email{
        margin-top:25px;
        margin-left:10px; 
      }
      #inmail,#inpswd,#in,#elog,#glog,#flog{
        border-radius:4px;
        padding:12px;
        outline:none;
      }
      #inmail,#inpswd{
        width:350px;
        margin-bottom:20px;
      }
      #email i,#pswd i{
        float:right;
        margin-top:10px;
        margin-left:-40px;
        position:absolute;
        color:#aaa;
        font-size:20px;
      }
      #pswd{
        margin-left:10px;
      }
      #in,#glog,#elog,#flog{
        width:380px; 
        color:white;
        margin-left:10px;
        border-radius:12px;
      }
      #in{
        background-color:rgb(26, 186, 197);
        padding:12px;
      }
      #fpswd{
        margin-left:10px;
      }
      #reg{
        margin-left:180px;
      }
      #sp{
        display:flex;
      }
      #elog{
        background-color:rgb(240, 228, 71);
        margin-top:40px;
        font-size:18px;
        padding:12px;
      }
      #glog{
        background-color:rgb(207, 30, 42);
        margin-top:10px;
        font-size:25px;
        padding:10px;
        font-family: 'Lato', sans-serif;
      } 
      #flog{
        background-color:#2A52BE;	
        margin-top:15px;
        font-size:20px;
        padding:12px;
      }
      h3{
        font-family: sans-serif;
        text-align: center;
        max-width: 350px;
        position:relative;
        color:#aaa;
        margin-left:20px;
      }
      h3:before{
        content: "";
        display:block;
        width: 120px;
        height:2px;
        background: #aaa;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -2;
      }
      h3:after{
        content: "";
        display:block;
        width: 120px;
        height:2px;
        background: #aaa;
        position: absolute;
        right:0;
        top: 50%;
        z-index: -2;
      }
      span{
        background: #fff
      }
